

.upgradesSections {
    color: #eee;
    border-radius: 10px;
    margin: 10px auto;
    overflow: hidden;
}

.generalSections {
    padding: 20px;
}

.generalSections>div:first-child {
    margin-bottom: 35px;
}

.generalSections>div:last-child{
    margin-top: 35px;
}

.scrollUpgrades {
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 217px;
}

.scrollUpgrades>img {
    width: 128px;
    min-height: 164px;
    height: auto;
    margin: 5px;
    box-shadow: 0 7px 0 0 #917004;
    border-radius: 5px;
    transition: 0.5s;
}

.scrollUpgrades>img:hover {
    transition: 0.2s;
    box-shadow: none;
    margin-top: 20px;
}