section {
    width: 100%;
    height: 100%;
    background: url("/image/background.png");
    background-repeat: repeat;
    animation: background 60s infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    top: 0;
    margin: auto;
    z-index: -1;
}

@keyframes background {
    0%, 100% {
        background-position-x: 0;
        background-position-y: 0;
    }
    50% {
        background-position-x: 50%;
        background-position-y: 50%;
    }
}

.clicker {
    padding: 10px;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fruit {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 90%;
    max-width: 384px;
    max-height: 472px;
    height: auto;
}

menu {
    background: #222222ca;
    position: absolute;
    top: 105px;
    bottom: 100px;
    right: 10px;
    left: 10px;
    border-radius: 10px;
    margin: auto;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}