* {
  margin: 0;
  user-select: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.titleGeneral {
  color: #eee;
  font-weight: bold;
  text-align: center;
  font-size: 2em;
}

.divPopupGeneral {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  overflow: auto;
}

.headerPopup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto 10px;
  height: 48px;
}

.roundButtonSmall {
  width: 24px;
  height: 24px;
  background: #537be9;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 3px 0 0 #295391;
  border-radius: 10px;
  padding: 5px;
  transition: 0.4s;
}

.roundButtonSmall:hover {
  margin-top: 5px;
  box-shadow: none;
  transition: 0.2s;
}

.buttonRed {
  background: #f34242;
  box-shadow: 0 3px 0 0 #a01e1e;
}

.generalSubtitles {
  font-size: 1.2em;
  color: #eee;
}